<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrearubeis.wash_up">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/wash_up_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Registrazione"
            android:screenOrientation="portrait" />

        <activity
            android:name=".bottom_activity"
            android:label="@string/title_activity_bottom_activity"
            android:screenOrientation="portrait" />

        <activity android:name=".NewHome"
                  android:screenOrientation="portrait" />

        <activity android:name=".AggiungiStanzaActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".ConfigurazioneStanzaActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".RuoliStanza"
                  android:screenOrientation="portrait" />

        <activity android:name=".ModificaCompitiActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".AggiungiInquilinoActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".RuoliInquilino"
                  android:screenOrientation="portrait" />

        <activity android:name=".AggiungiStanzaTutorial"
                  android:screenOrientation="portrait" />

        <activity android:name=".ModificaCompitiTutorial"
                  android:screenOrientation="portrait" />

        <activity android:name=".ConfigurazioneStanzaTutorial"
                  android:screenOrientation="portrait" />

        <activity android:name=".AttendiInvitoActivity"
                  android:screenOrientation="portrait" />

    </application>

</manifest>